<header>
    <img src="assets/logo.png" alt="">
    <a [routerLink]="['']" class="active">térkép</a>
    <a [routerLink]="['']">projektek</a>
    <a [routerLink]="['']">új projekt</a> <!--nem mindenkinel-->
    <a [routerLink]="['']">kijelentkezés</a>
    <a class="profile-button" [routerLink]="['/profile']">
        <div class="row">
            <div class="col" style="text-align: right;">
                <span class="username">Gipsz Jakab</span> <br>
                <span class="user-role">rang</span>
            </div>
            <div class="col p-0">
                <div id="profile-icon">
                    <span>☆</span>
                </div>
            </div>
        </div>

    </a>
</header>
<div class="separator-margin"></div>