<header>
    <img src="/assets/logo.png" alt="">
    <a [routerLink]="['/main']" [class]="activeRoute == '/main' ? 'active' : ''">térkép</a>
    <a [routerLink]="['/projects']" [class]="activeRoute != '/project/new' && activeRoute.includes('project') ? 'active' : ''">projektek</a>
    <a [routerLink]="['/project/new']" [class]="activeRoute == '/project/new' ? 'active' : ''">új projekt</a> <!--nem mindenkinel-->
    <a (click)="Logout()" style="cursor: pointer;">kijelentkezés</a>
    <a class="profile-button" [routerLink]="['/profile']">
        <div class="row">
            <div class="col" style="text-align: right;">
                <span class="username">{{user.display_name ? user.display_name : user.name}}</span> <br>
                <span class="user-role">{{user.role.role_name}}</span>
            </div>
            <div class="col p-0">
                <div id="profile-icon">
                    @if (user.avatar && user.avatar != 'default-avatar.png') {
                        <img src="{{user.avatar}}" class="fancy-border" alt="pfp">
                    }
                    @else {
                        <img src="/assets/default_avatar.png" class="fancy-border" alt="pfp">
                    }
                </div>
            </div>
        </div>

    </a>
</header>
<div class="separator-margin"></div>