@use '../../../variables' as *;

nav{
    max-width: 100vw;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 7px solid $bg-dark-gray;
    & img{
        width: 300px;
        margin-right: 15px;
    }
    & a:not(.profile-button):not(.navbar-brand){
        border-left: 1px solid $primary-blue;
        font-size: 120%;
        text-decoration: none;
        color: $primary-blue;
        text-transform: uppercase;
        height: 100%;
        padding: 15px 30px;
        white-space: nowrap;
        &.active{
            font-weight: 500;
            background-color: $bg-dark-gray;
            color: $primary-orange;
        }
        &:hover{
            font-weight: 500;
            color: $primary-orange;
        }
    }
    .profile-button{
        text-decoration: none;
        margin-left: auto;
        margin-right: 15px;
        white-space: nowrap;
        & .username{
            color: var(--mat-sys-on-surface);
        }
        & .user-role{
            color: $primary-orange;
        }
        & #profile-icon{
            & img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border: 1px solid black;
                margin-right: 0;
            }
        }
        &:hover{
            cursor: pointer;
            & .username{
                text-decoration: underline;
            }
        }
    }
}
.separator-margin{
    margin-bottom: 70px;
}

.navbar {
  padding: 0;
}

.right-buttons{
    position: absolute;
    right: 15px;
    top: 4px;
    display: flex;
}

.navbar-toggler{
   margin-left: 10px;
   padding: 0 6px;
   border-radius: 0;
   border: 1px solid black;
}

@media screen and (max-width: 1400px) {
    .navbar{
        padding-bottom: 5px;
    }
    nav a:not(.profile-button):not(.navbar-brand){
        border: 0;
    }
}