@use '../../../variables' as *;

.filters{
    background-color: white;
    border: 1px solid $bg-dark-gray;
    padding: 15px;
    input, ng-select {
        border-radius: 0;
        border: 1px solid $primary-blue;
        -webkit-box-shadow: 7px 7px 0px 0px $bg-dark-gray;
        box-shadow: 7px 7px 0px 0px $bg-dark-gray;
    }
}

ng-select{
    z-index: 999;
}

#filters-row{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 20px;
    & div{
        width: 100%;
    }
}
button{
    border-radius: 0;
    font-size: 120%;
    background-color: $primary-blue !important;
    bottom: 0;
    max-height: 38px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.red-bg{
    background-color: $error-bg !important;
    color: darkred !important;
}

label{
    white-space: nowrap;
}

.filter-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    & > div, & > button:not(#apply-button){
        flex: 1 1 calc(20% - 20px);
        min-width: 180px;
    }
}

@media screen and (max-width: 1400px) {
    .filter-row {
        & > div, & > button:not(#apply-button) {
            flex: 1 1 calc(33.333% - 20px);
        }
    }
}

@media screen and (max-width: 992px) {
    #filters-row {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .filter-row {
        & > div, & > button:not(#apply-button) {
            flex: 1 1 calc(50% - 20px);
        }
    }
}

@media screen and (max-width: 640px) {
    .filter-row {
        flex-direction: column;
        & > div, & > button:not(#apply-button) {
            flex: 1 1 100%;
            min-width: unset;
        }
        & > button {
            min-height: 38px;
        }
    }
    #apply-button {
        width: 100%;
    }
}
