<app-top-bar-component/>
<section class="content fancy-border vertical-box gap-4">
    <div class="white-panel d-flex" id="filter-row">
        <div>
            <label for="username">Felhasználónév</label>
            <input [(ngModel)]="filterValue" name="username" type="text" class="form-control fancy-border" placeholder="Felhasználónév">
        </div>
        <button (click)="FilterCommand()" matButton="filled" class="fancy-border" style="max-height: 38px;">Keresés</button>
    </div>
    @for (user of displayUsers; track user.id) {
        <ul class="user-row fancy-border white-panel" style="position: relative;">
            <li>
                Felhasználónév
                <h5>
                    {{user.name}}
                </h5>
            </li>
            <li>
                Megjelenő név
                <h5>
                    {{ user.display_name ?? '-' }}
                </h5>
            </li>
            <li>
                E-mail cím
                <h5>
                    {{user.email}}
                </h5>
            </li>
            <li>
                Rang
                <select class="form-select fancy-border" (change)="SaveRoleCommand(user, $event)">
                    @for (role of roles; track role.id) {
                        <option [value]="role.id" [selected]="user.role.id == role.id">
                            {{role.role_name}}
                        </option>
                    }
                </select>
            </li>
            <li class="delete-button-parent">
                <button matButton="filled" class="fancy-border" (click)="DeleteUserCommand(user)">Törlés</button>
            </li>
        </ul>
    }
</section>
<button id="back-to-top" class="fancy-border" (click)="BackToTopCommand()">🡅</button>
