<app-top-bar-component/>
<div class="content fancy-border row">
    <div class="col-12 col-md-6">
        <div class="px-2">
            <h4 style="color: white;">Adatmódosítás</h4>
            <form class="fancy-border vertical-box gap-3" style="background-color: white;">
                <div>
                    <label for="username">Felhasználónév</label>
                    <input name="username" type="text" class="form-control fancy-border" placeholder="Felhasználónév" value="kiss_pista">
                </div>
                <div>
                    <label for="displayname">Megjelenő név</label>
                    <input name="displayname" type="text" class="form-control fancy-border" placeholder="Felhasználónév" value="Kiss Pista">
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="px-2">
            <h4 style="color: white;">Jelszó módosítás</h4>
            <form class="fancy-border vertical-box gap-3" style="background-color: white;">
                <div>
                    <label for="old_password">Régi jelszó</label>
                    <input name="old_password" type="password" class="form-control fancy-border" placeholder="Régi jelszó">
                </div>

            </form>
        </div>
    </div>
    
</div>
