<app-top-bar-component/>
<section class="content fancy-border row">
    <div class="col-12 col-md-6 g-0 mb-2">
        <div class="px-3">
            <h4 style="color: white;">Adatmódosítás</h4>
            <form (ngSubmit)="sendUserUpdateData()" [formGroup]="user_data_form" class="fancy-border vertical-box gap-3" style="background-color: white;">
                <div id="pfp-container">
                    @if (user.avatar && user.avatar != 'default-avatar.png') {
                        <img src="{{user.avatar}}" class="fancy-border" alt="pfp" id="profile-picture" #pfpImg (error)="ImageError($event)">
                    }
                    @else {
                        <img src="/assets/default_avatar.png" class="fancy-border" alt="pfp" id="profile-picture" #pfpImg>
                    }
                    <div class="pfp-overlay" (click)="UploadPfpCommand()">
                        ✎Feltöltés
                    </div>
                </div>
                <input type="file" #pfpUploader id="pfp-file-input" (change)="onFileSelected($event)" accept="image/*"/>
                <app-form-field-component
                    label="Felhasználónév"
                    controlName="name"
                    [form]="user_data_form"
                    [required]="true"
                />
                <app-form-field-component
                    label="Megjelenő név"
                    controlName="display_name"
                    [form]="user_data_form"
                />
                <app-form-field-component
                    label="E-mail cím"
                    controlName="email"
                    [form]="user_data_form"
                    type="email"
                    [required]="true"
                />
                @if((user_data_form.dirty || user_data_form.touched) && user_data_form.invalid){
                    <p class="error-box fancy-border mb-1">
                    @if(user_data_form.get("name")?.errors?.['required']){
                        - Felhasználónév megadása kötelező!<br>
                    }
                    @if(user_data_form.get("email")?.errors?.['required']){
                        - E-mail cím megadása kötelező!<br>
                    }
                    @if(user_data_form.get("email")?.errors?.['email']){
                        - Hibás e-mail cím formátum!<br>
                    }
                    </p>
                }
                <button type="submit" matButton="filled" class="fancy-border" [disabled]="((user_data_form.dirty || user_data_form.touched) && user_data_form.invalid)">Mentés</button>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-6 g-0">
        <div class="px-3">
            <h4 style="color: white;">Jelszó módosítás</h4>
            <form (ngSubmit)="sendPasswordUpdateData()" [formGroup]="password_form" class="fancy-border vertical-box gap-3" style="background-color: white;">
                <app-form-field-component
                    label="Régi jelszó"
                    controlName="current_password"
                    type="password"
                    [form]="password_form"
                    [required]="true"
                    #oldpassword
                />
                <app-form-field-component
                    label="Új jelszó"
                    controlName="password"
                    type="password"
                    [form]="password_form"
                    [required]="true"
                    #newpassword
                />
                <app-form-field-component
                    label="Új jelszó még egyszer"
                    controlName="password_confirmation"
                    type="password"
                    [form]="password_form"
                    [required]="true"
                    #confpassword
                />
                @if((password_form.dirty || password_form.touched) && password_form.invalid){
                    <p class="error-box fancy-border mb-1">
                    @if(password_form.get("current_password")?.errors?.['required'] || 
                        password_form.get("password")?.errors?.['required'] ||
                        password_form.get("password_confirmation")?.errors?.['required']){
                        - Töltse ki mind a három mezőt!<br>
                    }
                    </p>
                }
                <div class="d-flex" style="width: 100%; gap: 25px;">
                    <button style="width: 100%;" type="submit" matButton="filled" class="fancy-border" [disabled]="(password_form.dirty || password_form.touched) && password_form.invalid">Jelszó frissítése</button>
                    <button id="eye-button" type="button" matButton="filled" class="fancy-border" (click)="togglePasswordsVisible()">
                        <img src="/assets/unseen.png" alt="eye" #eye_img>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <button class="mx-3 fancy-border" id="logout-button" matButton="filled" (click)="Logout()">Kijelentkezés</button>

</section>
