<div class="g-0 col-10 col-md-6 col-xl-4 mx-auto my-5">
  <h1>Regisztráció</h1>
  <form class="vertical-box fancy-border gap-3" (ngSubmit)="sendRegisterData()" [formGroup]="form">
    <img src="/assets/logo.png" alt="">
    <app-form-field-component
        label="Felhasználónév"
        controlName="name"
        [form]="form"
    />
    <app-form-field-component
        label="E-mail cím"
        controlName="email"
        [form]="form"
        type="email"
    />
    <app-form-field-component
        label="Jelszó"
        controlName="password"
        [form]="form"
        [type]="passwordFieldType"
    />
    <app-form-field-component
        label="Jelszó újra"
        controlName="password_confirmation"
        [form]="form"
        [type]="passwordFieldType"
    />
    <div class="d-flex" style="width: 100%; gap: 25px;">
      <button [disabled]="form.invalid" matButton="filled" class="fancy-border blue-form-button" style="width: 100%;" type="submit">Regisztráció</button>
      <app-password-eye-toggle-component (toggled)="onPasswordVisibilityToggled($event)"></app-password-eye-toggle-component>
    </div>
    <a [routerLink]="['']" style="width: fit-content;">Már van fiókja?</a>
  </form>
</div>
