
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/forms';
@import 'variables';
@import "@ng-select/ng-select/themes/default.theme.css";

@font-face {
    font-family: 'IBM';
    src: url(assets/IBMPlexMono-Regular.ttf);
}

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: white;
  background-image: url("assets/background-tile.png");
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: "IBM";

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,h6{
  color: $bg-gray;
}

button{
  font-family: "IBM" !important;
}

.leaflet-control-geocoder-form input{
    color: black;
ng-select{
  padding: 0 !important;
}
.ng-select-container{
  border: 0 !important;
}
.ng-input>input{
  color: black;
}