<app-top-bar-component/>
<section class="content fancy-border vertical-box gap-4">
    <app-filters-component (apply)="FilterCommand($event)"/>
    <div class="white-panel fancy-border">
        <table class="w-100">
            <thead>
                <tr>
                    <th>Munkaszám</th>
                    <th>Projekt neve</th>
                    <th>Tervkiadás dátuma</th>
                    <th>Megrendelő</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (project of displayProjects; track project.id){
                    <tr>
                        <td><h5>{{project.work_number}}</h5></td>
                        <td><h5>{{project.project_name}}</h5></td>
                        <td><h5>{{project.plan_issue_date | date:"yyyy.MM.dd."}}</h5></td>
                        <td><h5>{{project.client}}</h5></td>
                        <td class="button-td">
                            <div class="d-flex">
                                <a [routerLink]="[`/project/show/${project.id}`]" class="fancy-border"><img src="/assets/view.svg" alt="Megtekint" title="Megtekintés"></a>
                                @if (user.role.level >= 50) {
                                    <a [routerLink]="[`/project/edit/${project.id}`]" class="fancy-border orange-bg"><img src="/assets/edit.png" alt="Szerkeszt" title="Szerkesztés"></a>
                                    <button (click)="DeleteProjectCommand(project.id, project.project_name)" class="fancy-border red-bg"><img src="/assets/trash.png" alt="Töröl" title="Törlés"></button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<button id="back-to-top" class="fancy-border" (click)="BackToTopCommand()">🡅</button>
