@use '../../../variables' as *;

td{
    border-bottom: 1px solid black;
    max-width: 40ch;
    & h5{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

th{
    font-size: 110%;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.button-td{
    white-space: nowrap;
    width: 1%;
}

a img, button img{
    width: 30px;
}

#back-to-top{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 22pt;
    border: 0;
}

button, a:not(.projectname-nav){
    font-family: "IBM";
    border-radius: 0;
    font-size: 120%;
    background-color: $primary-blue;
    padding: 10px 0 !important;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}

.projectname-nav{
    text-decoration: none;
    &:hover{
        text-decoration-color: black !important;
        text-decoration: underline;
    }
}

.orange-bg{
    background-color: $primary-orange !important;
    color: darkred !important;
}

.red-bg{
    background-color: $error-bg !important;
    color: darkred !important;
}

a{
    transition: transform 0.2s ease-in-out, box-shadow .2s ease-in-out;
}

a.fancy-border:hover{
    transform: translate(-3px, -3px);
    transition: transform 0.2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-box-shadow: 10px 10px 0px 0px $bg-dark-gray;
    box-shadow: 10px 10px 0px 0px $bg-dark-gray;
}