@import '../../../variables';

ng-select, textarea{
    border: 1px solid $primary-blue;
    border-radius: 0;
}

#datepicker-panel h5{
    margin-bottom: 3px;
}

ul#checkboxes{
    list-style-type: none;
    column-count: 2;
}

#uploadFile::file-selector-button{
    color: white;
    background-color: $primary-blue;
}

#map{
    height: 100%;
    background-color: $bg-gray;
}

input[type="text"]:disabled, 
input[type="date"]:disabled, 
textarea:disabled, 
.ng-select.ng-select-disabled, 
::ng-deep .ng-select.ng-select-disabled > .ng-select-container{
    border: 1px solid transparent;
    background-color: white !important;
    color: $bg-dark-gray;
    font-size: 110%;
}
::ng-deep .ng-select.ng-select-disabled .ng-arrow-wrapper{
    display: none;
}
.form-check-input:disabled,
.form-check-label{
    opacity: 1 !important;
}
#project-name-input:disabled{
    font-size: 160%;
}
::ng-deep .ng-select.ng-select-disabled .ng-select-container:hover {
    box-shadow: none !important;
}