@use '../../../variables' as *;

ng-select, textarea, select{
    border: 1px solid $primary-blue;
    border-radius: 0;
}

h6{
    white-space: nowrap;
    line-height: 1.5;
}

#datepicker-panel h6{
    margin-bottom: 3px;
}

ul#checkboxes{
    list-style-type: none;
    column-count: 2;
}

#uploadFile::file-selector-button{
    color: white;
    background-color: $primary-blue;
}

#map{
    height: 100%;
    background-color: $bg-gray;
}

input[type="text"]:disabled, 
input[type="date"]:disabled, 
select:disabled,
textarea:disabled, 
.ng-select.ng-select-disabled, 
::ng-deep .ng-select.ng-select-disabled > .ng-select-container{
    border: 1px solid transparent;
    background-color: white !important;
    color: $bg-dark-gray;
    font-size: 110%;
}
::ng-deep .ng-select.ng-select-disabled .ng-arrow-wrapper{
    display: none;
}
.form-check-input:disabled,
.form-check-label{
    opacity: 1 !important;
}
#project-name-input:disabled{
    font-size: 160%;
}
::ng-deep .ng-select.ng-select-disabled .ng-select-container:hover {
    box-shadow: none !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}


select:disabled{
    background-image: none !important;
}
   
#project-form{
    margin-bottom: 20px;
}

#form-inner{
    padding-right: 0 !important;
}

@media screen and (max-width: 1400px){
    #form-left{
        padding-right: 0 !important;
        margin-bottom: 90px;
    }
    #datepicker-panel{
        padding-left: 0;
    }
}
