<app-top-bar-component/>
<div class="content fancy-border d-flex vertical-box mx-3" style="gap: 25px; max-width: 100%;">
    <div class="d-flex white-panel">
        <h2>Projekt neve:</h2>
    </div>
    <div class="row g-0">
        <form class="col-12 col-md-7 p-0" [formGroup]="project_form">
            <div class="pe-3">
                <div class="white-panel row g-0">
                    <div class="col-6 pe-2">
                        <div class="d-flex">
                            <h5>Tervező</h5>
                            <ng-select
                                [items]="(designers | async) ?? []"
                                bindLabel="name"
                                [addTag]="true"
                                [trackByFn]="trackByFn"
                                [minTermLength]="2"
                                [loading]="loaders.designer"
                                [typeahead]="inputs.designer"
                                typeToSearchText="Please enter 2 or more characters"
                                formControlName="selected"
                                style="width:1000px"
                                >
                            </ng-select>
                        </div>
                        <!-- angularos belegepelos select 
                         [typeahead]="peopleInput$"-->
                        <h5>Generáltervező</h5>
                        <h5>Geodézia</h5>
                        <h5>Megrendelő</h5>
                        <hr>
                        <h5>Egyéb munkarészek</h5>
                        <h5>Iratpapucs száma</h5>
                        <h5>Munkaszám</h5>
                        <hr>
                        <h5>Megjegyzés</h5>
                        <textarea name="" id="" class="form-control">

                        </textarea>
                    </div>
                    <div class="col-6">
                        asd
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12 col-md-5">
            <div class="ps-3">
                <div id="map" class="fancy-border">
                    terkep
                </div>
            </div>
        </div>
    </div>
</div>
